/* NAV-BAR */

.app-navbar{
    grid-area: app-navbar;
    background-color: #01bd73;
}

.app-navbar ul {
    text-decoration: none;
    list-style: none;
    color: white;
}

.nav__list li {
}   

.item {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 20px;
}

.item:hover {
    background-color: #65DEAD;
}

.side_bar__icone {
    margin-right: 10px;
}

.active {
    background-color: #007B49;
}